@import "RWD.css";
@import "box.css";
@import "header.css";
@import "home.css";
@import "about.css";
@import "skill.css";
@import "work.css";
@import "animation.css";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  font-family: Microsoft JhengHei, fantasy;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.madeBy {
  height: 20vh;
  background-color: #3d7878;
  text-align: center;
  color: #fff;
}
.madeBy p {
  position: relative;
  top: 5vh;
}
