.skill {
  color: #002b57;
  padding-bottom: 10vh;
}

.skillTitle {
  position: relative;
  text-align: center;
}

.skillCatList {
  position: relative;
  text-align: left;
  color: #7b7b7b;
  font-weight: bold;
  left: 10vw;
  width: 80vw;
  border-bottom: #ddd solid 3px;
}

.skillList {
  text-align: center;
}

.skillArea {
  vertical-align: top;
  display: inline-block;
}

.skillIcon {
  display: inline-block;
  margin-top: 5vmin;
}

.skillIcon {
  display: inline-block;
}
