.skill {
  background-color: #fff;
  color: #002b57;
}

.skillTitle {
  position: relative;
  text-align: center;
}

.skillCat {
  padding: 5vh;
}

.skillCat > p {
  position: relative;
  text-align: left;
  color: #ff7575;
  font-weight: bold;
  font-size: 6vmin;
  left: 5vw;
  width: 50vw;
}

.skillCat:nth-child(2) {
  background-color: #ddd;
}

.skillList {
  text-align: center;
}

.skillArea {
  vertical-align: top;
  display: inline-block;
}

.skillIcon {
  display: inline-block;
  margin-top: 5vmin;
}

.skillIcon {
  display: inline-block;
}
