.alertBox p,
.alertBox i,
.iconClose {
  font-size: 4vmin;
}

/*Normal size*/
@media screen and (min-width: 800px) {
  .header p {
    font-size: 4vmin;
  }

  .iconLanguage,
  .iconGodown,
  .profileTitle {
    font-size: 6vmin;
  }

  .profilePhoto {
    top: 34vh;
  }
  .profilePhoto img {
    width: 25vmin;
  }
  .profileTheme {
    top: 25vh;
  }
  .profileTheme img {
    width: 70vmin;
  }

  .locationBox {
    bottom: 12vh;
    left: 8vw;
  }
  .locationBox > a > * {
    font-size: 5vmin;
  }

  .iconLoading {
    font-size: 15vmin;
  }

  .lineBox img {
    width: 30vmin;
  }

  .contactBox {
    bottom: 3vh;
    right: 5vw;
    font-size: 10vmin;
  }

  .aboutTitle,
  .skillTitle,
  .workTitle {
    font-size: 10vmin;
    top: 8vh;
  }

  .aboutList,
  .skillCatList {
    font-size: 4vmin;
    margin-top: 10vmin;
  }

  .education > div > * {
    display: inline-block;
    vertical-align: middle;
  }

  .education > div,
  .award > div,
  .description > p:nth-child(2) {
    margin-top: 5vmin;
    left: 15vw;
    width: 70vw;
  }

  .education > div > p,
  .award > div > p,
  .award ul,
  .award li,
  .description p:nth-child(2) {
    font-size: 3vmin;
  }

  .skillArea {
    width: 40vw;
    margin: 3vh 2vw 5vh 2vw;
    font-size: 3vmin;
  }

  .skillIcon > p {
    width: 12vw;
    font-size: 2vmin;
  }

  .skillLogo {
    width: 5vw;
  }

  .workList {
    margin: 20vh auto 0 auto;
    width: 80vw;
  }

  .workArea {
    margin: 0 1vw 15vh 1vw;
    width: 36vw;
  }

  .workInfo > p:first-child {
    font-size: 4vmin;
  }

  .workInfo > p:nth-child(2) {
    font-size: 3vmin;
  }

  .workArea > a {
    font-size: 5vmin;
  }
}

/* Mobile size */
@media screen and (max-width: 800px) {
  .header {
    text-align: center;
  }

  .header p {
    font-size: 5vmin;
  }

  .iconLanguage,
  .iconGodown,
  .profileTitle {
    font-size: 8vmin;
  }

  .profilePhoto {
    top: 33vh;
  }
  .profilePhoto img {
    width: 35vmin;
  }
  .profileTheme {
    top: 25vh;
  }
  .profileTheme img {
    width: 65vmin;
  }

  .locationBox {
    bottom: 15vh;
    left: 8vw;
  }
  .locationBox > a > * {
    font-size: 6vmin;
  }

  .iconLoading {
    font-size: 30vmin;
  }

  .lineBox img {
    width: 50vmin;
  }
  .contactBox {
    bottom: 5vh;
    right: 10vw;
    font-size: 10vmin;
  }

  .aboutTitle,
  .skillTitle,
  .workTitle {
    font-size: 10vmin;
    top: 12vh;
  }

  .aboutList,
  .skillCatList {
    font-size: 6vmin;
    margin-top: 25vmin;
  }

  .education > div,
  .award > div,
  .description > p:nth-child(2) {
    margin-top: 5vmin;
    left: 10vw;
    width: 80vw;
  }

  .education > div > p,
  .award > div > p,
  .award ul,
  .award li,
  .description p:nth-child(2) {
    font-size: 4vmin;
  }

  .skillArea {
    width: 80vw;
    margin: 10vmin 0;
    font-size: 5vmin;
  }

  .skillIcon {
    margin-top: 5vmin;
  }

  .skillIcon > p {
    width: 25vw;
    font-size: 5vmin;
  }

  .skillLogo {
    width: 10vw;
  }

  .workList {
    margin: 20vh auto 0 auto;
    width: 80vw;
  }

  .workArea {
    margin-bottom: 15vh;
    width: 80vw;
  }

  .workInfo > p:first-child {
    font-size: 5vmin;
  }

  .workInfo > p:nth-child(2) {
    font-size: 4vmin;
  }

  .workArea > a {
    font-size: 8vmin;
  }
}
