.work {
  background-color: #c4e1e1;
  color: #002b57;
  padding-bottom: 10vh;
}

.workTitle {
  position: relative;
  text-align: center;
}

.workList {
  text-align: center;
}

.workArea {
  display: inline-block;
  vertical-align: top;
}

.workPicture {
  display: block;
  color: #cf9e9e;
  margin: 0 auto 2vmin auto;
  height: 5vh;
  font-size: 5vh;
}

.workArea > p {
  margin-top: 5vmin;
}

.workInfo > p:first-child {
  border-bottom: #7b7b7b solid 2px;
  text-align: center;
  font-weight: bold;
}

.workInfo > p:nth-child(2) {
  text-align: left;
  margin: 4vmin 0;
}

.workSkill img {
  display: inline-block;
  vertical-align: middle;
  width: 5vmin;
}

.workArea > a {
  display: inline-block;
  color: #0072e3;
}
